@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

/* Custom Range Slider */
input[type="range"].slider {
  -webkit-appearance: none; /* For Chrome & Safari */
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #9d4edd; /* Base track color */
  outline: none;
}

input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid #9d4edd;
  transition: background 0.3s ease;
}

input[type="range"].slider::-webkit-slider-thumb:hover {
  background: #c77dff;
}

input[type="range"].slider::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid #9d4edd;
  transition: background 0.3s ease;
}

input[type="range"].slider::-moz-range-thumb:hover {
  background: #c77dff;
}

/* Firefox track */
input[type="range"].slider::-moz-range-track {
  background: #9d4edd;
  height: 4px;
  border-radius: 4px;
}
