::-webkit-scrollbar{
    display: none;
}

.songsAppend{
    width:  20vw;
    height: 100%;
    max-height: 74vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.songsAppend li{
    align-items: center;
    gap: 15px;
    justify-content: start;
    display: flex;
    padding: 18px 0px 18px 0px;
    color: #adadad;
    cursor: pointer;
}

.songsAppend li p:hover{
    color: white;
    border-bottom: 1px solid white;
}

.songsAppend li img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.playlists{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: space-between;
    width: 100%;
    max-height: 82vh;
    overflow-y: auto;
}

.play{
    background: #232323;
    border-radius: 10px;
    width: 180px;
    transition: all .5s
}
.play:hover{
    background: #313131;
    transition: all .5s;
}